[submodule "ansible/inventory"]
	path = ansible/inventory
	url = https://github.com/tiawl-lab/inventory.git
[submodule "ansible/roles"]
	path = ansible/roles
	url = https://github.com/tiawl-lab/roles.git
