name: demo
on:
  workflow_dispatch:

permissions:
  contents: write

concurrency:
  group: secrets
  cancel-in-progress: true

jobs:
  demo:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        ref: "main"
        submodules: "true"
        token: "${{ vars.BOT_GITHUB_TOKEN }}"
    - uses: ./.github/actions/setup
    - uses: ./.github/actions/run-playbook
      with:
        playbook_tag: "demo"
        gh_token: "${{ vars.BOT_GITHUB_TOKEN }}"
